<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST">
        <h1>Login</h1>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>