form{
    border-radius:1rem;
    padding:1.5rem;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    width:auto;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    justify-content: center;
    align-items: center;
    margin:2rem;
}

