body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cover_trick_image {
    display: none;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: auto;
    gap: 0.8rem;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    color:var(--cream);

}
.logo-container img{
    width: 100px;
    max-width: 140px;
    height: auto;
}
.logo-text{
    font-size: 3rem;
    margin: 0;
    letter-spacing: 0.04em;
    display: inline-block;
    font-weight: 500;
}
@media (min-width: 1024px) {


    .logo-container img{
        width: 140px;
    }
    .logo-text{
        font-size: 5rem;
    }


    .cover_trick_image {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 50vw;
        background-image: url('../assets/images/cover_trick_image.png');
        opacity: 0.6;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
    }


    body {
        justify-content: flex-end;
        padding-right: 5%;
        align-items: center;
        overflow-x: hidden;
    }


    html {
        overflow-x: hidden;
    }

    #form-column {
        width: 50%;
        max-width: 600px;
        margin: 0;
        z-index: 1;
    }
}